.App {
    position: relative; /* Set relative positioning on the container */
    padding: 20px;
}

body {
   background-color: lightslategray; 
  
   background-image: url('./bgImageUS.jpeg');
   background-size: cover;
}

.App-header {
    background-color: #282c34;
    color: white;
    width: 50%;
    position: absolute;
    top: 20%;
    right: 40%;
}

button {
    /*
        margin-top: 150px; 
    */
}

.ScrollPane {
    overflow-y: auto;
    width: 30%;
    padding: 10%;
}

.RightBox {
    width: 30%;
    height: 1000%;
    padding: 1%;
    border: 3px solid rgb(0 255 33);
    box-sizing: border-box;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

    .RightBox::-webkit-scrollbar {
        width: 20px; 
    }


#box1 {
    position: absolute;
    top: 55%; 
    right: 1%; 
}

#box2 {
    position: absolute;
    top: 1100%;
    right: 1%; 
}

.ItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.LeftBox {
    width: 66%;
    height: 1800%;
    padding: 1%;
    border: 1px groove rgb(0 255 33);
    box-sizing: border-box;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 310%;
    left: 1%;
    padding: 10px;
}

.BottomBox {
    width: 30%;
    height: 1000%;
    padding: 1%;
    border: 3px solid green;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1100%;
    left: 1%;
}
